body{
    margin:0px;
    padding:0px;
}
ul{
    margin: 0px;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 0px;
    background-color:rgba(20, 18, 18, 0.87);
    text-align: center;
    height:100px;
}
li{
    display: inline-block;
    width:110px;
    height:40px;
    padding: 20px;
    margin-right: 20px;
    position: relative;
    top: +13px;
}
li:first-child.logo{
    background-image: url("images/folder-blue-google-drive-icon.png");
    background-size: 110px;
    background-repeat: no-repeat;
    text-indent: -9999999px;
    position: relative;
    top: -18px;
    margin-left: 0;
    width: 110px;
    height: 60px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}
section{
    background-color: red;
    height: 100px;
    display: flex;
    flex-direction: row;
}