{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'drive/styles.css' %}">
    <title>Drive-logout</title>
</head>
<body>
    <header>
        <nav>
            <ul class="bar">
                <li class="logo"><a href="index.html">Icon and Name</a></li>
                <li><a href="/" class="top">Home</a></li>
                <li><a href="" class="top">About</a></li>
                <li><a href="/support/" class="top">Support</a></li>
                <li><a href="/help/" class="top">Help</a></li>
            </ul>
        </nav>
        <h1>My file storage drive</h1>
        <li class="signin">
            <a href="/login/" class="signin"><h3>Log In</h3></a>
        </li>
    </header>
    <section class="about">
        <h2>You have been logged out, click on the above link to login again.</h2>
    </section>
    <footer>
        A file storage drive created by phanindra ramineni.
    </footer>
</body>
</html> 