{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'drive/styles.css' %}">
    <title>Drive-About</title>
</head>
<body>
    <header>
        <nav>
            <ul class="bar">
                <li class="logo"><a href="index.html">Icon and Name</a></li>
                <li><a href="/" class="top">Home</a></li>
                <li><a href="" class="top">About</a></li>
                <li><a href="/support/" class="top">Support</a></li>
                <li><a href="/help/" class="top">Help</a></li>
            </ul>
        </nav>
        <h1>My file storage drive</h1>
        <li class="signin">
            <a href="/login/" class="signin"><h3>Sign in</h3></a>
        </li>
    </header>
    <section class="about">
        <h1>About Drive</h1>
        <p>
            (this is just a test paragraph and has no significance.)
        </p>
        <p>
            Google Drive is a file storage and synchronization service developed by Google. Launched on April 24, 2012, Google Drive allows users to store files on their servers, synchronize files across devices, and share files. In addition to a website, Google Drive offers apps with offline capabilities for Windows and macOS computers, and Android and iOS smartphones and tablets. Google Drive encompasses Google Docs, Google Sheets, and Google Slides, which are a part of an office suite that permits collaborative editing of documents, spreadsheets, presentations, drawings, forms, and more. Files created and edited through the office suite are saved in Google Drive.
        </p>
        <p>
            Google Drive offers users 15 gigabytes of free storage through Google One. Google One also offers 100 gigabytes, 200 gigabytes, 2 terabytes, 10 terabytes, 20 terabytes, and 30 terabytes offered through optional paid plans. Files uploaded can be up to 5 terabytes in size. Users can change privacy settings for individual files and folders, including enabling sharing with other users or making content public. On the website, users can search for an image by describing its visuals, and use natural language to find specific files, such as "find my budget spreadsheet from last December".
        </p>
        <p>
            The website and Android app offer a Backups section to see what Android devices have data backed up to the service, and a completely overhauled computer app released in July 2017 allows for backing up specific folders on the user's computer. A Quick Access feature can intelligently predict the files users need.
        </p>
        <p>
            Google Drive is a key component of G Suite, Google's monthly subscription offering for businesses and organizations. As part of select G Suite plans, Drive offers unlimited storage, advanced file audit reporting, enhanced administration controls, and greater collaboration tools for teams.
        </p>

        <p>
            Following the launch of the service, Google Drive privacy policy was heavily criticized by some members of the media. Google has one set of Terms of Service and Privacy Policy agreements that cover all of its services, meaning that the language in the agreements grants the company broad rights to reproduce, use, and create derivative works from content stored on Google Drive. While the policies also confirm that users retain intellectual property rights, privacy advocates raised concerns that the licenses grant Google the rights to use the information and data to customize advertising and other services Google provides. In contrast, other members of the media noted that the agreements were no worse than those of competing cloud storage services, but that the competition uses "more artful language" in the agreements, and also stated that Google needs the rights in order to "move files around on its servers, cache your data, or make image thumbnails".
        </p>
        <p>
            Google Drive is available for PCs running Windows 7 or later, and Macs running OS X Lion or later.[6] Google indicated in April 2012 that work on Linux software was underway,[7] but there was no news on this as of November 2013.[8] In April 2012, Google's then-Senior Vice President Sundar Pichai said that Google Drive would be tightly integrated with Chrome OS version 20.[9] In October 2016, Google announced that, going forward, it will drop support for versions of the computer software older than 1 year.[10] In June 2017, Google announced that a new app called Backup and Sync would replace the existing separate Google Drive and Google Photos desktop apps, creating one unified app on desktop platforms.[11][12] Originally intended for release on June 28, its release was delayed[13] until July 12.[14][15][16] In September 2017, Google announced that it will discontinue the Google Drive desktop app in March 2018 and end support in December 2017.[17]
        </p>
        <p>
            Before the introduction of Google Drive, Google Docs initially provided 15 GB of storage free of charge.[citation needed] On April 24, 2012, Google Drive was introduced with free storage of 5 GB. Storage plans were revised, with 25GB costing $2.49/month, 100GB costing $4.99/month and 1TB costing $49.99/month.[4]

            Originally, Gmail, Google Docs and Picasa had separate allowances for free storage and a shared allowance for purchased storage.[35] Between April 2012 and May 2013, Google Drive and Google+ Photos had a shared allowance for both free and purchased storage, whereas Gmail had a separate 10 GB storage limit, which increased to 25 GB on the purchase of any storage plan.[36]
                
            In September 2012, Google announced that a paid plan would now cover total storage, rather than the paid allocation being added to the free; e.g. a 100 GB plan allowed a total of 100 GB rather than 115 GB as previously.[37]
                
            In May 2013, Google announced the overall merge of storage across Gmail, Google Drive and Google+ Photos, allowing users 15 GB of unified free storage between the services.[38]
                
            In March 2014, the storage plans were revised again and prices were reduced by 80% to $1.99/month for 100 GB, $9.99/month for 1TB, and $99.99/month for 10 TB.[39] This was much cheaper than competitors Dropbox and OneDrive offered at the time.[40]
                
            In 2018, the paid plans were re-branded as Google One to emphasize their application beyond Google Drive, along with the addition of a $2.99/month plan for 200 GB, and increasing the $9.99 plan to 2 TB at no additional charge.[41]
                
            In most cases during these changes, users could continue with their existing plans as long as they kept their accounts active and did not make any adjustments to the plan. However, if the account lapsed for any reason, users had to choose from current plans.
        </p>
    </section>
    <footer>
        A file storage drive created by phanindra ramineni.
    </footer>
</body>
</html>