{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'drive/styles.css' %}">
    <title>Drive-Home</title>
</head>
<body>
    <header>
        <nav>
            <ul class="bar">
                <li class="logo"><a href="index.html">Icon and Name</a></li>
                <li><a href="" class="top">Home</a></li>
                <li><a href="about/" class="top">About</a></li>
                <li><a href="support/" class="top">Support</a></li>
                <li><a href="help/" class="top">Help</a></li>
            </ul>
        </nav>
        <h1>My file storage drive</h1>
        <li class="signin">
            <a href="/login/" class="signin"><h3>Sign in</h3></a>
        </li>
    </header>
    <section>
            <div class="img1"></div>
            <div class="content">
                <h1 class="text">store any file</h1>
                <h3>Keep photos, stories, designs, drawings, recordings, videos, and more. Your first 15 GB of storage are free with a Google Account.</h3>
            </div>
    </section>
    <section>
        <div class="content">
            <h1 class="text">Acess files from anywhere</h1>
            <h3>Your files in Drive can be reached from any smartphone, tablet, or computer. So wherever you go, your files follow.</h3>
        </div>
        <div class="img2"></div>
    </section>
    <footer>
        A file storage drive created by phanindra ramineni.
    </footer>
</body>
</html>